body{
  /* padding-top:80px; */
  word-wrap:break-word;
}

img{
  height: 200px;
}

.visual-placeholder{
  height: 45rem;
}

.caregiver-inputs{
  display: none;
}

.jumbotron-img {
  background-image: url("/imgs/background-img.jpg");
  object-fit: cover;
}

.entry-add-btn{
  text-align: right;
}

.community-card-img {
    width:  100%;
    height: 15rem;
    object-fit: cover;
}