body{
  /* padding-top:80px; */
  word-wrap:break-word;
}

img{
  height: 200px;
}

.visual-placeholder{
  height: 45rem;
}

.caregiver-inputs{
  display: none;
}

.jumbotron-img {
  background-image: url("/imgs/background-img.jpg");
  object-fit: cover;
}